<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proto2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/luxun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/luxun"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proto2">
        <activity android:name=".MagHome" />
        <activity android:name=".GraHome" />
        <activity android:name=".Mag_graph_cylinder" />
        <activity android:name=".MagCylinder" />
        <activity android:name=".Mag_graph_cuboid" />
        <activity android:name=".MagCuboid" />
        <activity android:name=".Gra_graph_cylinder" />
        <activity android:name=".GraCylinder" />
        <activity android:name=".Gra_graph_stairs" />
        <activity android:name=".GraStairs" />
        <activity android:name=".Mag_graph_orbit" />
        <activity android:name=".Gra_graph_orbit" />
        <activity android:name=".MagOrbit" />
        <activity android:name=".GraOrbit" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>