<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proto2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/luxun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/luxun"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proto2">
        <activity android:name=".GraGraph1"></activity>
        <activity android:name=".MagMain" />
        <activity android:name=".GraMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>